.additional {
  .wrapper();
  margin: 0 auto 35px auto;
  position: relative;
}

.additional__title {
  .title(@font-size:24px, @font-weight: 400, @line-height:24px, @margin:0 0 34px 0, @padding: 0 22px 0 0);
  background-color: white;
  display: inline-block;

  &::before {
    .line(@top: 14px);
  }
}

.additional__inner {
  margin: 0 0 35px 0;
}

.additional__list {
  .list-reset(@margin:0 0 39px 0);
}

.additional__item {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #cdcdcd;

  &:last-child {
    border-bottom: 1px solid #cdcdcd;
  }
}

.additional__name {
  .text(@font-size: 16px, @margin: 0 0 11px 0, @color: @font-color, @text-transform: uppercase, @padding: 13px 0 0 0);
}

.additional__view {
  .text(@line-height: 14px, @margin: 0 0 13px 0);
  display: flex;
  justify-content: space-between;
  font-family: @second-font;
  border-collapse: collapse;
}

.additional__value {
  margin: 0 0 13px 0;
  width: 140px;

  &--right {
    text-align: right;
  }
}

.additional__order {
  margin: 0 0 17px 0;
}

@media (min-width: @tablet-width) {
  .additional {
    .wrapper(@width: @tablet-width; @padding: @padding-tablet);
    margin: 0 auto;
  }

  .additional__inner {
    margin: 0 0 69px 0;
  }

  .additional__list {
    border-top: 1px solid #d9d9d9;
    margin: 0 0 69px 0;
  }

  .additional__title {
    font-size: 36px;
    line-height: 36px;
    padding: 0 36px 0 37px;
    margin: 0 0 80px 0;

    &::before {
      top: 22px;
      transform: translateX(-50%);
    }
  }

  .additional__item {
    position: relative;
    border-bottom: 1px solid #d9d9d9;
    padding: 13px 36px 10px 37px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 0;
  }

  .additional__name {
    font-size: 20px;
    line-height: 20px;
    margin: 0 0 25px 0;
  }

  .additional__view {
    padding: 13px 0 0 0;
  }

  .additional__value {
    font-size: 16px;
    line-height: 20px;
    margin: 0 0 0 0;
    padding: 4px 0 0 0;
    text-align: right;

    &--right {
      width: 95px;
    }
  }

  .additional__order {
    width: 633px;
    font-size: 16px;
  }
}

@media (min-width: @desktop-width) {
  .additional {
    .wrapper(@width: @desktop-width; @padding: @padding-desktop);
  }

  .additional__title {
    padding: 0 36px 0 40px;
    margin-left: -40px;

    &::after {
      width: 70px;
      left: -109px;
    }
  }

  .additional__inner {
    display: flex;
    justify-content: space-between;
    margin: 0 0 181px 0;
  }

  .additional__list {
    width: 100%;
    margin: 0 78px 0 0;
  }

  .additional__item {
    flex-wrap: nowrap;
    padding: 16px 0 15px 0;
    align-items: center;
  }

  .additional__name {
    padding: 0;
    margin: 0 auto 0 0;
  }

  .additional__view {
    padding: 0;
    margin: 0 21px 0 0;
  }

  .additional__value {
    padding: 0;
    text-align: left;
  }

  .additional__value--left {
    width: 245px;
  }

  .additional__value--right {
    width: 60px;
  }

  .additional__order {
    font-size: 16px;
    width: 245px;
    margin: 0;
    padding: 0 0 0 0;
  }
}
