.button {
  display: flex;
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: normal;
  width: 280px;
  height: 40px;
  background-color: @fancy-color;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
