.button {
  .text-other(@line-height: 20px, @color: white, @padding: 10px 10px);
  display: flex;
  width: 280px;
  height: 40px;
  background-color: @fancy-color;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &--all {
    background-color: #f2f2f2;
    color: @light-color;
  }
  &--select {
    font-size: 14px;
  }
}

@media (min-width: @tablet-width) {
  .button {
    font-size: 20px;
    top: 277px;
    left: 120px;
  }
}

@media (min-width: @desktop-width) {
  .button {
    width: 245px;
    height: 52px;
    font-size: 20px;
    position: absolute;
    top: 334px;
    left: 190px;
  }
}

