.button {
  .text(@font-size: 16px, @color: @font-color, @text-transform: uppercase, @margin: 0);
  display: flex;
  width: 280px;
  height: 40px;
  background-color: @fancy-color;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;

  &:hover {
    background-color: @hover-color;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  &--all {
    background-color: #f2f2f2;
    color: @light-color;

    &:hover {
      background-color: #ebebeb;
    }

    &:active {
      color: rgba(68, 68, 68, 0.3);
    }
  }
  &--select {
    font-size: 14px;
  }
}

@media (min-width: @tablet-width) {
  .button {
    font-size: 20px;
  }
}

@media (min-width: @desktop-width) {
  .button {
    width: 245px;
    font-size: 20px;
  }
}

