.cooperation__wrapper {
  display: flex;
  padding: 0 20px;
  margin: 0 0 26px 0;
}

.cooperation__title {
  color: @font-color;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: normal;
  margin: 0;
}

.cooperation__address {
  color: @light-color;
  font-family: @alt-font-family;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  width: 273px;
}
