.copyright__link {
  .text(@font-size: 16px, @line-height: 16px, @margin: 0 0 10px 0);
  font-family: @second-font;

  &--text {
    padding: 23px 0 0 0;

    &:active {
      opacity: 0.3;
    }
  }
}

.copyright__icon {
  fill: #666666;

  &:hover {
    fill: #68b738;
  }

  &:active {
    opacity: 0.3;
  }
}
