.food__wrapper {
  width: @mobile-width;
  margin: 0 auto;
}

.food__inner {
  text-align: center;
  color: white;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  padding: 27px 0 0 0;
  display: flex;
  flex-direction: column;
  position: relative;
}

.food__box {
  display: flex;
  flex-direction: column;
  position: relative;
}

.food__image {
  position: relative;
  min-height: 320px;
  margin: 0;
  padding: 274px 0 0 0;

  &::before {
    .element();
    width: 280px;
    height: 270px;
    top: 0;
    left: 20px;
    background-image: url("../img/index-can-mobile@1x.png");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

.food__title {
  .title(@color: white);
}

.food__slogan {
  .text(@line-height: 14px, @margin: 0 0 28px 0, @color: white, @text-transform: uppercase, @padding: 0 0 0 0);
}

.food__button {
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .food__wrapper {
    width: @tablet-width;
    padding: @padding-tablet;
  }

  .food__inner {
    background-image: none;
    padding: 42px 0 0 0;
  }

  .food__image {
    padding: 0;

    &::before {
      width: 709px;
      height: 609px;
      top: -28px;
      left: -2px;
      background-image: url("../img/index-can-tablet@1x.jpg");
    }
  }

  .food__title {
    .title(@font-size:60px, @line-height:60px, @margin:0 auto 42px 0);
    text-align: left;
    width: 565px;
    padding: 0 0 0 87px;
  }

  .food__slogan {
    .title(@font-size:20px, @line-height:20px, @margin:0 0 47px 0, @color: @font-color, @text-transform: uppercase, @padding: 0 0 0 88px);
    text-align: left;
  }

  .food__button {
    width: 245px;
    height: 52px;
    margin: 0px 0 509px 88px;
    position: relative;
    z-index: 10;
  }
}

@media (min-width: @desktop-width) {
   .food {
    .wrapper(@width: 100%; @padding: 122px 0 0 0);
    min-height: 696px;
    position: relative;
    margin-top: -122px;
    height: 100%;
    background-image: url(../img/index-background-desktop@1x.jpg);
    background-position: 100% 50%;
    background-repeat: no-repeat;
    background-size: 50vw auto;
    z-index: -1;
  }

  .food__wrapper {
    width: @desktop-width;
    padding: @padding-desktop;
  }

  .food__inner {
    flex-direction: row;
    margin: 0 0 80px 0;
    padding: 0 0 55px 0;
    flex-direction: column;
  }

  .food__box  {
    width: 500px;
    margin: 0 58px 52px 0;
  }

  .food__image {
    padding: 0;

    &::before {
      width: 552px;
      height: 499px;
      top: -314px;
      left: 451px;
      background-image: url("../img/index-can-desktop@1x.png");
    }
  }

  .food__title {
    text-align: left;
    padding: 109px 0 0 80px;
    margin: 0 0 42px 0;
  }

  .food__slogan {
    text-align: left;
    padding: 0 0 0 80px;
    margin: 0 auto 0 0;
  }

  .food__button {
    margin: 0px 0 509px 80px;
  }
}
