.food {
  position: relative;
}

.food__cat-image {
  height: 305px;
  overflow-y: hidden;
  position: absolute;
  width: 100vw;
}

.food__background {
  height: auto;
  width: 100vw;
}

.food__wrapper {
  margin: 0 auto;
}

.food__inner {
  text-align: center;
  color: white;
  padding: 27px 0 0 0;
  display: flex;
  flex-direction: column;
  position: relative;
  background-size: 100vw 305px;
}

.food__box {
  display: flex;
  flex-direction: column;
  position: relative;
}

.food__image {
  position: relative;
  min-height: 320px;
  margin: 0;
  padding: 274px 0 0 0;
}

.food__product {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

@media (min-resolution: @retina-dppx),
  (min-resolution: @retina-dpi) {
  .food__image::before {
    background-image: url("../img/index-can-mobile@2x.png");
    background-size: 280px 270px;
  }
}

.food__title {
  .title(@color: white);
}

.food__slogan {
  .text(@line-height: 14px, @margin: 0 0 28px 0, @color: white, @text-transform: uppercase, @padding: 0 0 0 0);
}

.food__button {
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .food__cat-image {
    display: none;
  }

  .food__wrapper {
    width: @tablet-width;
    padding: @padding-tablet;
  }

  .food__inner {
    background-image: none;
    padding: 43px 0 0 0;
  }

  .food__image {
    padding: 0;
  }

  .food__product {
    width: 709px;
    height: 609px;
    top: -28px;
    left: -1px;
    transform: none;
  }

  @media (min-resolution: @retina-dppx),
    (min-resolution: @retina-dpi) {
    .food__image::before {
      background-image: url("../img/index-can-tablet@2x.jpg");
      background-size: 709px 609px;
    }
  }

  .food__title {
    .title(@font-size:60px, @line-height:60px, @margin:0 auto 42px 0);
    text-align: left;
    width: 565px;
    padding: 0 0 0 87px;
  }

  .food__slogan {
    .title(@font-size:20px, @line-height:20px, @margin:0 0 47px 0, @color: @font-color, @text-transform: uppercase, @padding: 0 0 0 88px);
    text-align: left;
  }

  .food__button {
    width: 245px;
    min-height: 52px;
    margin: 0 0 509px 88px;
    position: relative;
    z-index: 10;
  }
}

@media (min-width: @desktop-width) {
  .food {
    .wrapper(@width: 100%; @padding: 122px 0 0 0);
    min-height: 696px;
    position: relative;
    margin-top: -128px;
  }

  .food__cat-image {
    display: block;
    width: 50vw;
    top: 0;
    right: 0;
    height: 696px;
  }

  .food__background {
    width: 50vw;
  }

  .food__wrapper {
    width: @desktop-width;
    padding: @padding-desktop;
  }

  .food__inner {
    padding: 0;
    flex-direction: column;
  }

  .food__box {
    width: 500px;
    margin: 0 58px 52px 0;
  }

  .food__image {
    padding: 0;
    min-height: auto;
  }

  .food__product {
    width: 552px;
    height: 499px;
    top: -314px;
    left: 450px;
  }

  @media (min-resolution: @retina-dppx),
    (min-resolution: @retina-dpi) {
    .food__image::before {
      background-image: url("../img/index-can-desktop@2x.png");
      background-size: 552px 499px;
    }
  }

  .food__title {
    text-align: left;
    padding: 100px 0 0 80px;
    margin: 0 0 42px 0;
  }

  .food__slogan {
    text-align: left;
    padding: 0 0 0 80px;
    margin: 0 auto 0 0;
  }

  .food__button {
    margin: 0 0 0 80px;
  }
}
