.food__wrapper {
  text-align: center;
  color: white;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  width: @width-mobile;
  padding: 27px 0 0 0;
  display: flex;
  flex-direction: column;
  margin: 0 0 22px 0;
}

.food__title {
 .title();
}

.food__title {
  margin: 0;
}

.food__slogan {
  font-size: 14px;
  font-weight: normal;
  line-height: 14px;
  text-transform: uppercase;
}

.food__image {
  padding: 28px 0 0 0;
  margin: 0 auto 2px auto;
  display: block;
}

.food__button {
  margin: @wrap;
}
