.footer {
  margin: @wrap;
  width: @width-mobile;
}

.footer__wrapper {
  background-color: @background;
  padding: @padding;
  margin: @wrap;
}

.footer__copyright {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 0 0;
}


