.footer {
  width: 100%;
}

.footer__box {
  background-color: @background;
}

.footer__wrapper {
  .wrapper();
  margin: -6px auto 0 auto;
}

.footer__copyright {
  display: flex;
  justify-content: space-between;
  padding: 0 0 14px 0;
}

.copyright__link {
  margin: 0 -7px 0 0;
}


@media (min-width: @tablet-width) {
  .footer__wrapper {
    .wrapper(@width: @tablet-width; @padding: 52px 30px 39px 30px);
    display: flex;
    justify-content: space-between;
  }

  .footer__copyright {
    padding: 0;
    width: 162px;
  }
}

@media (min-width: @desktop-width) {
  .footer__wrapper {
    .wrapper(@width: @desktop-width; @padding: 54px 40px 38px 40px);
  }
}

