.form {
  .wrapper();
  margin: 0 auto;
}

.form__title {
  .title( @line-height:60px, @padding: 15px 0 0 0);
}

.form__text {
  .text( @margin: 0 0 38px 0, @color: @font-color, @text-transform: uppercase);
  width: 250px;
}

.form__information {
  .fieldset-reset();
  margin: 0 0 38px 0;
}

.form__list {
  .text(@font-size: 16px, @margin: 0, @color: #222222, @text-transform: uppercase);
  border: 0;
  list-style: none;
}

.form__item {
  display: flex;
  position: relative;
}

.form__label {
  margin: 0 13px 0 0;
  padding: 14px 0 0 0;
  position: relative;

  &--checkbox {
    padding: 0 0 24px 46px;
    position: relative;

    &::before {
      .element();
      width: 30px;
      height: 30px;
      top: -6px;
      left: 0;
      background-color: transparent;
      border: 1px solid #cdcdcd;
      cursor: pointer;
    }

    &:hover::before {
      border-color: #bababa;
    }

    &:active::before,
    &:active::after {
      opacity: 0.3;
    }
  }
}

.form__icon {
  position: absolute;
  fill: #222222;

  &--email {
    top: 16px;
    left: 248px;
  }

  &--tel {
    top: 13px;
    left: 248px;
  }
}

.form__input:focus + .form__icon {
  fill: #68b738;
}

.form__input:invalid + .form__icon {
  fill: #ff8282;
}

.form__check:checked + .form__label--checkbox::after {
  .element();
  width: 22px;
  height: 17px;
  top: 1px;
  left: 4px;
  background-image: url("../img/icon-tick.svg");
}

.form__input {
  .text(@font-size: 16px, @margin: 0 0 14px 0, @color: @font-color, @text-transform: uppercase);
  min-height: 45px;
  border: 1px solid #e6e6e6;
  flex-grow: 1;
  outline: none;

  &--comment {
    width: 280px;
    min-height: 150px;
    resize: none;
    padding: 14px 10px 0 15px;
  }

  &--information {
    padding: 0 0 0 16px;
  }

  &--contact {
    padding: 0 0 0 10px;
  }

  &::-webkit-input-placeholder {
    color: @light-color;
  }

  &::-moz-placeholder {
    color: @light-color;
  }

  &:-moz-placeholder {
    color: @light-color;
  }

  &:-ms-input-placeholder {
    color: @light-color;
  }

  &:hover {
    border-color: #cdcdcd;
  }

  &:active,
  &:focus {
    border: 1px solid rgba(68, 68, 68, 1);
    box-shadow: 0 0 0 1px rgba(68, 68, 68, 1);
  }

  &:invalid {
    border: 1px solid rgb(255, 130, 130);
    box-shadow: 0 0 0 1px rgb(255, 130, 130);
  }
}

.form__target {
  .fieldset-reset();
  margin: 0 0 32px 0;
}

.form__label-radio {
  padding: 0 20px 0 44px;
  margin: 0 0 24px 0;
  position: relative;
  cursor: pointer;

  &::before {
    .element();
    width: 30px;
    height: 30px;
    top: -7px;
    left: -1px;
    background-color: transparent;
    border: 1px solid #cdcdcd;
    border-radius: 50% 50%;
    cursor: pointer;
  }

  &:hover::before {
    border-color: #bababa;
  }

  &:active::before,
  &:active::after {
    opacity: 0.3;
  }
}

.form__radio:checked + .form__label-radio::after {
  .element();
  width: 12px;
  height: 12px;
  top: 2px;
  left: 8px;
  background-color: @fancy-color;
  border-radius: 50% 50%;
}

.form__radio:focus + .form__label-radio::before {
  box-shadow: 0 0 0 2px #99ccff;
}

.form__radio:disabled + .form__label-radio::before,
.form__radio:disabled + .form__label-radio::after {
  opacity: 0.3;
}


.form__contakts {
  .fieldset-reset( @margin:0 0 14px 0);
  position: relative;
}

.form__caption {
  .title(@font-size:24px, @line-height:24px, @margin:0 0 34px 0, @padding: 0 20px 0 0);
  background-color: white;
  display: inline-block;
  position: relative;

  &--check {
    margin: 0 0 41px 0;

    &::before {
      .line();
    }
  }

  &--contact {
    width: 201px;

    &::before {
      .line();
    }
  }

  &--comment {
    &::before {
      .line();
    }
  }
}

.form__comment {
  margin: 0 0 9px 0;
  position: relative;
}

.form__addition {
  .fieldset-reset();
  margin: 0 0 17px 0;
  position: relative;
}

.form__order {
  margin: 0 0 21px 0;
  border: 0;
}

.form__important {
  .text(@line-height: 16px, @margin: 0 0 32px 0, @text-transform: none, @padding: 0);
  text-align: center;
  font-family: @second-font;
}

@media (min-width: @tablet-width) {
  .form {
    .wrapper(@width: @tablet-width; @padding: @padding-tablet);
  }

  .form__title {
    font-size: 60px;
    padding: 43px 0 0 0;
    margin: 0 0 55px 0;
  }

  .form__text {
    font-size: 20px;
    line-height: 30px;
    width: 384px;
    padding: 0 0 0 41px;
    margin: 0 0 66px 0;
  }

  .form__program {
    padding: 0 40px;
  }

  .form__information {
    margin: 0 0 52px 0;
  }

  .form__list {
    font-size: 20px;
    line-height: 20px;

    &--check {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .form__label {
    margin: 0 19px 0 0;

    &--contact {
      margin: 0 17px 0 0;
    }

    &--checkbox::before {
      width: 40px;
      height: 40px;
      top: -9px;
    }

    &--contact::before {
      left: 595px;
    }

    &--checkbox {
      padding: 0 0 0 58px;
      margin: 0 0 52px 0;
      width: 284px;
    }
  }

  .form__input {
    margin: 0 0 21px 0;
    min-height: 51px;
    font-size: 20px;

    &--email {
      padding: 0 0 0 23px;
    }

    &--tel {
      padding: 0 0 0 17px;
    }

    &--comment {
      width: 629px;
      min-height: 176px;
      padding: 16px 10px 0 19px;
    }
  }

  .form__target {
    border: 1px solid #e6e6e6;
    padding: 34px 0 0 0;
    margin: 0 0 76px 0;
  }

  .form__label-radio {
    padding: 0 20px 0 85px;
    margin: 0 0 33px 0;

    &::before {
      width: 40px;
      height: 40px;
      top: -10px;
      left: 28px;
    }
  }

  .form__radio:checked + .form__label-radio::after {
    width: 18px;
    height: 18px;
    top: 1px;
    left: 39px;
  }

  .form__contakts {
    margin: 0 0 45px 0;
  }

  .form__caption {
    font-size: 36px;
    line-height: 36px;
    margin: 0 0 76px 0;
    width: 100%;
    background-color: transparent;

    &--contact::before {
      top: 22px;
      transform: translateX(-50%);
    }

    &--comment {
      &::before {
        top: 22px;
        transform: translateX(-50%);
      }
    }

    &--check {
      margin: 0 0 67px 0;

      &::before {
        top: 22px;
        transform: translateX(-50%);
      }
    }
  }

  .form__span {
    background-color: #ffffff;
    padding: 0 40px;
    margin: 0 0 0 -40px;
  }

  .form__icon {
    &--email {
      top: 20px;
      left: 595px;
    }

    &--tel {
      top: 17px;
      left: 595px;
    }
  }

  .form__comment {
    margin: 0 0 36px 0;
  }

  .form__check:checked + .form__label--checkbox::after {
    top: 3px;
    left: 9px;
  }

  .form__check:focus + .form__label--checkbox::before {
    box-shadow: 0 0 0 2px #99ccff;
  }

  .form__check:disabled + .form__label--checkbox::before,
  .form__check:disabled + .form__label--checkbox::after {
    opacity: 0.3;
  }

  .form__item {
    &--check:nth-child(odd) {
      margin: 0 60px 0 0;
    }
  }

  .form__inner {
    display: flex;
    justify-content: space-between;
    margin: 0 0 51px 0;
  }

  .form__important {
    font-size: 16px;
    padding: 16px 0 0 0;
    margin: 0 104px 0 0;
  }

  .form__order {
    font-size: 20px;
    min-height: 52px;
    width: 283px;
  }

  .form__addition {
    margin: 0 0 13px 0;
    position: relative;
  }
}

@media (min-width: @desktop-width) {
  .form {
    .wrapper(@width: @desktop-width; @padding: @padding-desktop);
  }

  .form__title {
    padding: 60px 0 0 0;
  }

  .form__text {
    padding: 0;
  }

  .form__program {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }

  .form__information {
    width: 570px;
    margin: 0 80px 0 0;
  }

  .form__target {
    width: 570px;
    margin: 0 0 70px 0;
  }

  .form__contakts {
    width: 100%;
    margin: 0 0 47px 0;
  }

  .form__caption {
    margin: 0 0 75px 0;

    &--contact {
      &::before {
        top: 21px;
      }
    }

    &--check {
      margin: 0 0 67px 0;
    }
  }

  .form__list {
    &--contact {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }

  .form__item {
    &--contact {
      width: 570px;
    }

    &--contact:nth-child(odd) {
      margin: 0 80px 0 0;
    }

    &--check {
      margin: 0 80px 0 0;

      &:nth-child(odd) {
        margin: 0 80px 0 0;
      }

      &:nth-child(4n) {
        margin: 0;
      }
    }
  }

  .form__label {
    &--contact {
      &::before {
        left: 531px;
      }
    }

    &--checkbox {
      width: 245px;
      margin: 0 0 57px 0;
    }
  }

  .form__comment {
    margin: 0 0 39px 0;
  }

  .form__input {
    &--comment {
      width: 1220px;
    }
  }

  .form__order {
    width: 568px;
    margin: 0 84px 0 0;
  }

  .form__inner {
    margin: 0 0 83px 0;
  }

  .form__icon {
    &--email {
      top: 21px;
      left: 533px;
    }

    &--tel {
      top: 18px;
      left: 531px;
    }
  }
}
