  .form {
    .wrapper();
    margin: 0 auto;
  }

.form__title {
  .title( @line-height:60px, @padding: 15px 0 0 0);
}

.form__text {
  .text( @margin: 0 0 38px 0, @color: @font-color, @text-transform: uppercase);
  width: 250px;
}

.form__information {
  .fieldset-reset();
  margin: 0 0 38px 0;
}

.form__list {
  .text(@font-size: 16px, @margin: 0, @color: #222222, @text-transform: uppercase);
  border: 0;
  list-style: none;
}

.form__item {
  display: flex;
}

.form__label {
  margin: 0 13px 0 0;
  padding: 14px 0 0 0;
  position: relative;

  &--checkbox {
    padding: 0 0 24px 46px;
    position: relative;

    &::before {
      .element();
      width: 30px;
      height: 30px;
      top: -6px;
      left: 0px;
      background-color: transparent;
      border: 1px solid #cdcdcd;
      cursor: pointer;
    }
  }
  &--contact::before {
    .element();
    left: 247px;
  }

  &--email::before {
    width: 17px;
    height: 15px;
    top: 16px;
    background-image: url(../img/icon-mail.svg);
  }

  &--tel::before {
    width: 20px;
    height: 20px;
    top: 13px;
    background-image: url(../img/icon-phone.svg);
  }
}

.form__check:checked + .form__label--checkbox::after {
  .element();
  width: 22px;
  height: 17px;
  top: 1px;
  left: 4px;
  background-image: url(../img/icon-tick.svg);
}

.form__input {
  .text(@font-size: 16px, @margin: 0 0 14px 0, @color: @font-color, @text-transform: uppercase);
  min-height: 45px;
  border: 1px solid #cdcdcd;
  flex-grow: 1;

  &--comment {
    width: 280px;
    min-height: 150px;
    resize: none;
    padding: 14px 10px 0 15px;
  }

  &--information {
    padding: 0 0 0 16px;
  }

  &--contact {
    padding: 0 0 0 10px;
  }

  &::-webkit-input-placeholder {
    color: @light-color;
  }

  &::-moz-placeholder {
    color: @light-color;
  }

  &:-moz-placeholder {
    color: @light-color;
  }

  &:-ms-input-placeholder {
    color: @light-color;
  }
}

.form__target {
  .fieldset-reset();
  margin: 0 0 32px 0;
}

.form__label-radio {
  padding: 0 20px 0 44px;
  margin: 0 0 24px 0;
  position: relative;
  cursor: pointer;

  &::before {
    .element();
    width: 30px;
    height: 30px;
    top: -7px;
    left: -1px;
    background-color: transparent;
    border: 1px solid #cecece;
    border-radius: 50% 50%;
    cursor: pointer;
  }
}

.form__radio:checked + .form__label-radio::after {
  .element();
  width: 12px;
  height: 12px;
  top: 2px;
  left: 8px;
  background-color: @fancy-color;
  border-radius: 50% 50%;
}

.form__contakts{
  .fieldset-reset( @margin:0 0 14px 0);
}

.form__caption {
  .title(@font-size:24px, @line-height:24px, @margin:0 0 34px 0);
  position: relative;

  &--check {
    margin: 0 0 41px 0;
  }

  &--contact {
    &::before {
      .line(@width: 99px, @left: -20px);
    }
  }

  &--comment {
    &::before {
      .line(@width: 158px, @left: -179px);
    }
  }

  &--check {
    &::before {
      .line(@width: 136px, @left: -159px);
    }
  }
}

.form__comment {
  margin: 0 0 9px 0;
}

.form__addition {
  .fieldset-reset();
  margin: 0 0 17px 0;
}

.form__order {
  margin: 0 0 21px 0;
}

.form__important {
  .text(@line-height: 16px, @margin: 0 0 32px 0, @text-transform: none, @padding: 0);
  text-align: center;
  font-family: @second-font;
}

@media (min-width: @tablet-width) {
  .form {
    .wrapper(@width: @tablet-width; @padding: @padding-tablet);
  }

  .form__title {
    font-size: 60px;
    padding: 48px 0 0 0;
    margin: 0 0 55px 0;
  }

  .form__text {
    font-size: 20px;
    line-height: 30px;
    width: 384px;
    padding: 0 0 0 41px;
    margin: 0 0 66px 0;
  }

  .form__program {
    padding: 0 40px;
  }

  .form__information {
    margin: 0 0 52px 0;
  }

  .form__list {
    font-size: 20px;
    line-height: 20px;

    &--check {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .form__label {
    margin: 0 19px 0 0;
  }

  .form__input{
    margin: 0 0 21px 0;
    min-height: 51px;
    font-size: 20px;
  }

  .form__target {
    border: 1px solid #e6e6e6;
    padding: 34px 0 0 0;
    margin: 0 0 76px 0;
  }

  .form__label-radio {
    padding: 0px 20px 0 85px;
    margin: 0 0 33px 0;

    &::before {
      width: 40px;
      height: 40px;
      top: -10px;
      left: 28px;
    }
  }

  .form__radio:checked + .form__label-radio::after {
    width: 18px;
    height: 18px;
    top: 1px;
    left: 39px;
  }

  .form__caption {
    font-size: 36px;
    line-height: 36px;
    margin: 0 0 76px 0;

    &--contact::before {
      width: 145px;
      top: 22px;
      right: -186px;
    }

    &--contact::after {
      .element();
      width: 29px;
      height: 3px;
      top: 22px;
      left: -69px;
      background-color: #68b738;
    }
  }

  .form__label {

    &--contact {
      margin: 0 17px 0 0;
    }

    &--checkbox::before{
      width: 40px;
      height: 40px;
      top: -9px;
    }
  }

  .form__input {

    &--email {
      padding: 0 0 0 23px;
    }

    &--tel {
      padding: 0 0 0 17px;
    }

    &--comment {
      width: 629px;
      min-height: 176px;
      padding: 16px 10px 0 19px;
    }
  }

  .form__label {

    &--contact::before{
      left: 595px;
    }

    &--email::before {
      top: 20px;
    }

    &--tel::before {
      top: 17px;
    }

    &--checkbox {
      padding: 0 0 0 58px;
      margin: 0 0 52px 0;
      width: 284px;
  }
}

  .form__contakts {
    margin: 0px 0 45px 0;
  }

  .form__caption {

    &--comment {
      &::before {
        width: 479px;
        top: 22px;
        right: -517px;
      }

      &::after {
        .element();
        width: 29px;
        height: 3px;
        top: 22px;
        left: -69px;
        background-color: #68b738;
      }
    }

    &--check {
      margin: 0 0 66px 0;

      &::before {
        width: 446px;
        top: 22px;
        right: -487px;
      }

      &::after {
        .element();
        width: 29px;
        height: 3px;
        top: 22px;
        left: -69px;
        background-color: #68b738;
      }
    }
  }

  .form__comment {
    margin: 0 0 36px 0;
  }

  .form__check:checked + .form__label--checkbox::after {
    top: 3px;
    left: 9px;
  }

  .form__item {

    &--check:nth-child(odd) {
      margin: 0 60px 0 0;
    }
  }

  .form__inner {
    display: flex;
    justify-content: space-between;
    margin: 0 0 51px 0;
  }

  .form__important {
    font-size: 16px;
    padding: 16px 0 0 0;
    margin: 0 104px 0 0;
  }

  .form__order {
    font-size: 20px;
    min-height: 52px;
    width: 283px;
  }

  .form__addition {
    margin: 0 0 13px 0;
  }
}

@media (min-width: @desktop-width) {
  .form {
    .wrapper(@width: @desktop-width; @padding: @padding-desktop);
  }

  .form__title {
    padding: 66px 0 0 0;
  }

  .form__text {
    padding: 0;
  }

  .form__program {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }

  .form__information {
    width: 570px;
    margin: 0 80px 0 0;
  }

  .form__target {
    width: 570px;
    margin: 0 0 70px 0;
  }

  .form__contakts {
    width: 100%;
    margin: 0 0 47px 0;
  }

  .form__caption {
    margin: 0 0 75px 0;

    &--contact {

      &::after {
        width: 70px;
        top: 21px;
        left: -110px;
      }

      &::before {
        width: 776px;
        top: 21px;
        right: -817px;
      }
    }

    &--comment {

      &::after {
        width: 70px;
        left: -110px;
      }

      &::before {
        width: 1110px;
        right: -1148px;
      }
    }
    &--check {
      margin: 0 0 67px 0;

      &::after {
        width: 70px;
        left: -110px;
      }

      &::before {
        width: 1078px;
        right: -1119px;
      }
    }
  }

  .form__list {

    &--contact {
      display: flex;
      justify-content: space-between;
    }
  }

  .form__item {

    &--contact {
      width: 570px;
    }

    &--contact:nth-child(odd) {
      margin: 0 80px 0 0;
    }

    &--check {
      margin: 0 80px 0 0;

      &:nth-child(odd) {
        margin: 0 80px 0 0;
      }

      &:last-child {
        margin: 0;
      }
    }
  }

  .form__label {

    &--contact{

      &::before {
        left: 531px;
      }
    }

    &--checkbox {
      width: 245px;
      margin: 0 0 57px 0;
    }
  }

  .form__comment {
    margin: 0 0 39px 0;
  }

  .form__input {

    &--comment {
      width: 1220px;
    }
  }

  .form__order {
    width: 568px;
    margin: 0 84px 0 0;
  }
  .form__inner {
    margin: 0 0 83px 0;
  }
}

