.info {
  margin: 0 0 46px 0;
}

.info-wrapper {
  .wrapper();
  margin: 0 auto;
}

.info__title {
  .title(@font-weight: 400, @line-height:60px, @margin:0 0 30px 0,   @padding: 17px 0 0 0);
}

.info__list {
  .text(@margin: 0, @padding: 0 0 0 80px);
  font-family: @second-font;
  list-style: none;
}

.info__item {
  margin: 0 0 26px 0;
  position: relative;
  &::before {
    .element();
    width: 60px;
    height: 60px;
    top: -2px;
    right: 220px;
    background-color: @fancy-color;
  }

  &--food::before {
    background-image: url("../img/advantage-leaf@1x.png");
    background-position: 5px 5px;
  }

  &--powder::before {
    background-image: url("../img/advantage-powder@1x.png");
    background-position: 5px 4px;
  }

  &--eating::before {
    background-image: url("../img/advantage-dining@1x.png");
    background-position: 4px 5px;
  }

  &--month::before {
    background-image: url("../img/advantage-clock@1x.png");
    background-position: 5px 5px;
  }
}

@media(min-resolution:@retina-dppx) {
  .info__item {

    &::before {
      background-size: 50px 50px;
    }

    &--food::before {
      background-image: url("../img/advantage-leaf@2x.png");
      background-position: 5px 5px;
    }

    &--powder::before {
      background-image: url("../img/advantage-powder@2x.png");
      background-position: 5px 4px;
    }

    &--eating::before {
      background-image: url("../img/advantage-dining@2x.png");
      background-position: 4px 5px;
    }

    &--month::before {
      background-image: url("../img/advantage-clock@2x.png");
      background-position: 5px 5px;
    }
  }
}

@media (min-width: @tablet-width) {
  .info-wrapper {
    .wrapper(@width:@tablet-width; @padding: @padding-tablet);
  }

  .info__title {
    .title(@font-size:60px, @line-height:60px, @margin:0 0 25px 0, @padding: 15px 0 0 0)
    }

  .info__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
  }

  .info__item {
    .text(@font-size: 16px, @line-height: 24px, @margin: 0, @padding: 160px 78px 0 0);
    font-family: @second-font;
    width: 324px;
    min-height: 317px;

    &::after {
      position: absolute;
      background-position: 0 0;
      font-size: 281px;
      font-family: @main-font;
      color: #f2f2f2;
      top: 136px;
      z-index: -1;
    }

    &--food::after {
      content: "1";
      left: 119px;
    }

    &--powder::after {
      content: "2";
      left: 112px;
    }

    &--eating::after {
      content: "3";
      left: 114px;
    }

    &--month::after {
      content: "4";
      left: 114px
    }

    &::before {
      width: 80px;
      height: 80px;
      top: 47px;
      left: 0;
    }

    &--food::before {
      background-position: 15px 15px;
    }

    &--powder::before {
      background-position: 15px 14px;
    }

    &--eating::before {
      background-position: 14px 15px;
    }

    &--month::before {
      background-position: 15px 15px;
    }
  }
}

@media (min-width: @desktop-width) {
  .info-wrapper {
    .wrapper(@width:@desktop-width; @padding: @padding-desktop);
  }

  .info {
    margin: 0 0 242px 0;
  }

  .info__list {
    justify-content: space-between;
  }

  .info__item {
    width: 245px;
    min-height: 250px;
    padding: 160px 0 0 0;

    &--food::after {
      left: 119px;
    }

    &--powder::after {
      left: 113px;
    }

    &--eating::after {
      left: 115px;
    }

    &--month::after {
      left: 115px;
    }
  }

  .info__title {
    margin: 0 0 25px 0;
    padding: 43px 0 0 0;
  }
}
