.page-header {
  display: flex;
  padding: 13px 20px 0 20px;
  min-height: 66px;
  margin: 0 auto;
  padding: @padding-mobile;
  width: @mobile-width;
}

.page-header__logo {
  margin: 0 auto 9px 0;
  padding: 13px 0 0 0;
}

@media (min-width: @tablet-width) {
  .page-header {
    width: @tablet-width;
    padding: @padding-tablet;
    // background-color: bisque;
  }
  .page-header__logo {
    padding: 25px 0 0 0;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    width: @desktop-width;
    padding: @padding-desktop;
    // background-color: bisque;

  }
  .page-header__logo {
    padding: 54px 0 0 0;
  }
}
