.page-header {
  overflow-x: hidden;
}

.page-header__inner {
  display: flex;
  flex-direction: column;
  min-height: 66px;
  margin: 0 auto;
  padding: @padding-mobile;
  width: @mobile-width;
}

.page-header__logo {
  margin: 0 auto 9px 0;
  padding: 13px 0 0 0;
}

@media (min-width: @tablet-width) {
  .page-header__inner {
    width: @tablet-width;
    padding: @padding-tablet;
    flex-direction: row;
  }

  .page-header__logo {
    padding: 24px 0 0 0;
  }
}

@media (min-width: @desktop-width) {
  .page-header__inner {
    width: @desktop-width;
    padding: @padding-desktop;
  }

  .page-header__logo {
    padding: 54px 0 0 0;
  }
}
