.programs__wrapper {
  .wrapper();
  margin: 0 auto;
}

.programs {
  padding: 16px 0 0 0;
}

.programs__list {
  display: flex;
  .list-reset();
  flex-direction: column;
}

.programs__item {
  background-color: @background;
  padding: 30px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  position: relative;

  &::before {
    .element();
    width: 50px;
    height: 50px;
    top: 25px;
    left: 22px;
    background-color: @fancy-color;
    border-radius: 50% 50%;
  }

  &--lose-weight {
    margin: 0 0 20px 0;
  }

  &--lose-weight::after {
    .element();
    width: 38px;
    height: 49px;
    top: 22px;
    left: 30px;
    background-image: url(../img/icon-cat-slim.svg);
  }

  &--mass-gain::after {
    .element();
    width: 69px;
    height: 73px;
    top: 35px;
    left: 12px;
    background-image: url(../img/icon-cat-pro.svg);
  }
}

.programs__icon {
  position: absolute;

  &--slim {
    top: 22px;
    left: 28px;
  }

  &--mass {
    top: 13px;
    left: 12px;
  }
}

.programs__title {
  .title(@font-size:24px, @line-height:37px, @text-transform:uppercase, @margin: 0 0 30px 0, @padding: 0 0 0 71px);
}

.programs__text {
  .text(@margin: 0 0 18px 0, @padding: 0 0 21px 0);
  font-family: @second-font;
  position: relative;
  border-bottom: @line;
}

.programs__link {
  .text(@font-size: 16px, @line-height: 16px, @margin: 1px 150px 2px 0, @color: @font-color, @text-transform: uppercase, @padding: 0);
  position: relative;

  &::before {
    .element();
    width: 25px;
    height: 12px;
    top: 3px;
    left: 96px;
    background-image: url(../img/icon-right-arrow-long.svg);
  }

  &:hover::before {
    .element();
    width: 34px;
    background-image: url(../img/icon-right-arrow-verylong.svg);
  }
}

.programs__link:active {
  opacity: 0.3;
}

@media (min-width: @tablet-width) {
  .programs__wrapper {
    .wrapper(@width: @tablet-width; @padding: @padding-tablet);
    margin: 0 auto;
  }

  .programs__item {
    padding: 76px 0 0 54px;
    margin: 0 0 30px 0;

    &::before {
      .element();
      width: 200px;
      height: 200px;
      top: 91px;
      left: 447px;
    }

    &--lose-weight {
      padding-right: 271px;
    }

    &--mass-gain {
      padding-right: 310px;
    }

    &--lose-weight::after {
      width: 141px;
      height: 194px;
      top: 80px;
      left: 476px;
    }

    &--mass-gain::after {
      width: 268px;
      height: 113px;
      top: 135px;
      left: 412px;
    }
  }

  .programs__icon {
    &--slim {
      width: 140px;
      height: 194px;
      top: 80px;
      left: 475px;
    }

    &--mass {
      width: 268px;
      height: 112px;
      top: 135px;
      left: 411px;
    }
  }

  .programs {
    padding: 20px 0 0 0;
  }

  .programs__title {
    .title(@margin: 0 0 25px 0, @line-height: 37px, @text-transform: uppercase, @padding: 0);
  }

  .programs__text {
    .text(@font-size: 16px, @line-height: 24px, @margin: 0 0 58px 0);
    font-family: @second-font;
    border: none;
  }

  .programs__link {
    .text(@font-size: 20px, @line-height: 20px, @margin: 0 230px 60px 0, @color: @light-color, @text-transform: uppercase, @padding: 0 0 0 0);

    &::before {
      top: 3px;
    }

    &--slim::before {
      left: 130px;
    }

    &--pro::before {
      left: 125px;
    }
  }
}

@media (min-width: @desktop-width) {
  .programs {
    padding: 80px 0 0 0;
  }

  .programs__wrapper {
    .wrapper(@width: @desktop-width; @padding: @padding-desktop);
    margin: 0 auto;
  }

  .programs__list {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .programs__item {
    padding: 76px 35px 17px 54px;
    width: 570px;

    &::before {
      .element();
      width: 100px;
      height: 100px;
      top: 47px;
      left: 52px;
    }

    &--lose-weight::after {
      width: 71px;
      height: 97px;
      top: 41px;
      left: 66px;
    }

    &--mass-gain::after {
      width: 134px;
      height: 57px;
      top: 69px;
      left: 34px;
    }
  }

  .programs__link {
    margin: 0 230px 45px 0;

    &::before {
      top: 4px;
    }
  }

  .programs__icon {
    &--slim {
      width: 70px;
      height: 97px;
      top: 41px;
      left: 66px;
    }

    &--mass {
      width: 134px;
      height: 56px;
      top: 69px;
      left: 34px;
    }
  }

  .programs__title {
    .title(@margin:0 0 75px 0,  @text-transform: uppercase, @padding: 1px 0 0 160px);
  }

  .programs__text {
    .text(@font-size: 16px, @line-height: 24px, @margin: 0 0 30px 0);
    font-family: @second-font;
    border: none;
  }
}
