.site-list__link {
  color: @font-color;
}

.site-list__item {
  padding: 23px 0 23px 0;
  position: relative;

  &::before {
    .line-grey(@transform: translateX(-50%));
  }
}

.site-list__link[href] {
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}


@media (min-width: @tablet-width) {
  .site-list__item {
    margin: 0 0 0 35px;
    padding: 23px 0 11px 0;

    &--active {
      border-bottom: 2px solid #68b738;
    }

    &::before {
      display: none;
    }
  }

  .site-list__link {
    font-size: 18px;
    font-weight: normal;
    color: #222222;
  }
}

@media (min-width: @desktop-width) {
  .site-list--green  .site-list__item--active {
    border-bottom: 2px solid white;
  }

  .site-list__link {
    font-size: 20px;
    font-weight: normal;

    &--catalog {
      color: @font-color;
    }

    &--form {
      color: @font-color;
    }

    &--white {
      color: white;
    }
  }
}
