.social__list {
  list-style: none;
  display: flex;
  padding: 0 0 20px 0;
  margin: 0 0 20px 0;
  justify-content: center;
  border-bottom: @line;
}

.social__link {
  display: block;
  width: 22px;
  height: 20px;
  position: relative;
}

.social__link::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background-repeat: no-repeat;
}

.social__link--vkontakte::before {
  width: 22px;
  height: 12px;
  background-image: url("../img/icon-vk.svg");
  background-position: 0 0;
}

.social__link--instagram::before {
  width: 16px;
  height: 16px;
  background-image: url("../img/icon-insta.svg");
  background-position: 0 0;
}

.social__link--facebook::before {
  width: 10px;
  height: 19px;
  background-image: url("../img/icon-fb.svg");
  background-position: 0 0;
}

.social__link--instagram {
  margin: 0 31px 0 26px;
}

