.list-reset(@margin:0, @padding:0, @list-style:none) {
  margin: @margin;
  padding: @padding;
  list-style: @list-style;
}

.fieldset-reset(@border:0, @padding:0, @margin:0) {
  border: @border;
  padding: @padding;
  margin: @margin;
}

.title(@font-size:36px, @font-weight: 400, @line-height:36px, @margin:0 0 25px 0, @color: @font-color, @text-transform: none, @padding:0) {
  font-size: @font-size;
  font-weight: @font-weight;
  line-height: @line-height;
  margin: @margin;
  color: @color;
  text-transform: @text-transform;
  padding:@padding;
}

.text(@font-size: 14px, @font-weight: 400, @line-height: 18px, @margin: 0 0 20px 0, @color: @light-color, @text-transform: none, @padding: 0) {
  font-size: @font-size;
  font-weight: @font-weight;
  line-height: @line-height;
  margin: @margin;
  color: @color;
  text-transform: @text-transform;
  padding:@padding;
}

.line(@height: 3px, @width: 200vw, @top: 14px, @right: auto, @left: 50%, @background-color: @fancy-color) {
  content: "";
  position: absolute;
  width: @width;
  height: @height;
  top: @top;
  right: @right;
  left: @left;
  background-color: @background-color;
  background-repeat: no-repeat;
  background-position: 0 0;
  z-index: -1;
}

.line-grey(@transform: translateX(-30%)) {
  content: "";
  position: absolute;
  width: 100vw;
  height: 1px;
  background-color: #ededed;
  top: -1px;
  transform: @transform;
}

.element(@background-position: 0 0) {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-position: @background-position;
}

.wrapper(@width: @mobile-width; @padding: @padding-mobile) {
  width: @width;
  padding: @padding;
}
